/* Salas.module.css */
.square-btn {
    aspect-ratio: 1/1;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .square-btn > div, 
  .square-btn > span {
    position: absolute;
  }
  
  .square-btn > div {
    top: 30%;
  }
  
  .square-btn > span {
    bottom: 30%;
  }

  